<div class="whole">
  <div class="sidebar">
    <chuva-sidebar></chuva-sidebar>
  </div>
  <div class="main">
    <div class="topbar">
      <div class="topbar-content">
        <div class="text-topbar-container">
          <p>Anais do Simpósio Latino Americano de Ciências de Alimentos</p>
          <h2>Anais do 13º Simpósio Latino Americano de Ciência de Alimentos</h2>
          <p>ISSN: 1234-5678</p>
        </div>
        <div class="language-button-container">
          <select name="gender" id="language-select" formControlName="gender">
            <option value="00" disabled selected>PT,BR</option>
            <option value="Masculino">EN,US</option>
          </select>
        </div>
        <div class="user-button-container">
          <div class="user-button-content">
            <div class="user-texts">
              <div class="welcome-text">
                <p> Bem Vindo!</p>
              </div>
              <div class="email-text">
                <p>
                  {{ this.userService.userLogged.email}}
                </p>
              </div>
            </div>
            <div class="user-photo">
              <img src="{{ this.userService.userLogged.photo}}" alt="">
              <div class="notifications">
                <p>{{ this.userService.userLogged.notifications }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="video-container">
      <div class="video-container-content">
        <div class="video">
          <h2>Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de Campinas/SP </h2>
          <div class="video-box">
            <video src="/assets/video.mp4" controls>
            </video>
          </div>
        </div>
        <div class="side-container">
          <div class="side-container-buttons">
            <div class="side-container-buttons-top">
              <button class="button-download">
                <img src="/assets/download.svg" alt="">
                <p>Download</p>
              </button>
              <button class="button-star">
                <img src="/assets/star.svg" alt="">
              </button>
              <button class="button-doi">
                <img src="/assets/doi.svg" alt="">
              </button>
            </div>
            <div class="side-container-buttons-bot">
              <p> COMO CITAR ESSE TRABALHO ?</p>
            </div>
          </div>
          <div class="side-container-details">
            <div class="side-container-details-top-bar">
              <p>Detalhes</p>
            </div>
            <div class="side-container-details-content">
              <div class="side-container-details-content-specifications">
                <p>Tipo de Apresentação: <strong>Pôster</strong></p>
                <p>Eixos Temáticos: <strong>Alimentação e saúde</strong></p>
                <p>Palavras-chaves: <strong>Alimentos funcionais, alimentação escolar.</strong></p>
              </div>
              <div class="side-container-details-content-authors">
                <h2>Autores:</h2>
                <div class="authors-loop-space">
                  <div class="authors-loop" *ngFor="let author of this.authorsService.authors">
                    <p> {{ author.name }} </p><h4>{{author.indicator}}</h4>
                  </div>
                </div>
              </div>
              <div class="side-container-details-content-university-loop-space">
                <div class="university-loop" *ngFor="let university of this.universityService.universities">
                  <p>{{ university.indicator }}{{ university.name }}</p>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="resume-container">

    </div>
    <div class="discussion-container">

    </div>
    <div class="footer">
      <div class="footer-content">
        <div class="galoa-text">
          <h1>Galoá</h1>
          <p> ── anais e proceedings ──</p>
          <button> Saiba Mais</button>
        </div>
        <div class="footer-text">
          <div class="top-text">
            <p><strong>Preservar a memória do evento e ampliar o acesso ao conhecimento científico</strong> gerado em eventos é a razão de ser da plataforma Galoá Proceedings</p>

          </div>
          <div class="bottom-text">
            <p>Os trabalhos publicados aqui têm maior alcance e ficam disponíveis para toda a comunidade científica, mantendo aceso o debate científico fomentado pelo encontros e aumentando o impacto do evento
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
