<div class="whole">
  <div class="sidebar">
    <chuva-sidebar></chuva-sidebar>
  </div>
  <div class="main">
    <div class="topbar">
      <chuva-topbar></chuva-topbar>
    </div>
    <div class="video-container">
      <chuva-video-container></chuva-video-container>
    </div>
    <div class="resume-container">
      <chuva-resume></chuva-resume>
    </div>
    <div class="discussion-container">
      <chuva-discussion></chuva-discussion>
    </div>
    <div class="footer">
      <chuva-footer></chuva-footer>
    </div>
  </div>
</div>
