*{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.whole{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar{
  width: 15%;
  height: 100%;
}

.main{
  width: 85%;
  height: 100%;
  overflow-y: auto;
}

.topbar{
  width: 100%;
  height: 8vh;
  background-color: #FDF1EB;
  display: flex;
  justify-content: end;
}

.topbar-content{
  height: 100%;
  width: 97%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-topbar-container{
  height: 100%;
  width: 65%;
  color: #725C5C;
}

.text-topbar-container h2{
  font-weight: 400;
  font-size: 2.5vh;
}

.text-topbar-container p{
  font-size: 1.75vh;
}

.language-button-container{
  height: 80%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#language-select{
  width: 100%;
  height: 70%;
  outline: none;
  margin: 0;
  border: 2px solid #D0D0D0;
  border-radius: 4px;
  font-size: large;
  color: #818181;
  box-sizing: border-box;
  background-color: transparent;
}

.user-button-container{
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
}

.user-button-content{
  width: 95%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content:center;
}

.user-texts{
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
}

.welcome-text{
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.email-text{
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: flex-end;
}

.user-photo{
  width: 20%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.user-photo img{
  height: 100%;
  width: 100%;
  border-radius: 99999px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.notifications{
  position: absolute;
  height: 2vh;
  width: 2vh;
  border-radius: 99999px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notifications p {
  margin: 0;
  color: white;
  font-weight: 500;
  font-size: 1.5vh;
}

.video-container{
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container-content{
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video{
  width: 75%;
  height: 95%;
  display: flex;
  flex-direction: column;
}

.video h2{
  color:#ED7839;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-box{
  width: 95%;
  height: 65vh;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.video-box video{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 65vh;
  border-radius: 10px;
}

.side-container{
  width: 20%;
  height: 95%;
  display: flex;
  flex-direction: column;
}

.side-container-buttons{
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  flex-direction: column;
}

.side-container-buttons-top{
  width: 95%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-download{
  width: 60%;
  height: 80%;
  border-radius: 10px;
  background-color: #ED7839;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-download img{
  width: 20%;
  height: 90%;
}

.button-download p{
  width: 60%;
  height: 90%;
  font-family: Quicksand;
  font-weight: 700;
  font-size: 2vh;
  margin: 0;
  display: flex;
  align-items: center;
  color: white;
  cursor: pointer;
}

.button-star{
  width: 15%;
  height: 80%;
  border-radius: 10px;
  background-color: #ED7839;
  border: none;
  cursor: pointer;
}

.button-doi{
  width: 15%;
  height: 80%;
  border-radius: 10px;
  background-color: #ED7839;
  border: none;
  cursor: pointer;
}

.side-container-buttons-bot{
  width: 95%;
  height: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.side-container-buttons-bot p{
  color: #ED7839;
  font-family: Quicksand;
  font-weight: 700;
  font-size: 2vh;
}

.side-container-details{
  height: 65vh;
  width: 100%;
  border-radius: 15px;
  border: 1px solid #e7e7e7;
}

.side-container-details-top-bar{
  width: 100%;
  height: 10%;
  background: #FDF1EB;
  border-top-right-radius: 15px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  display: flex;
  justify-content: center;
}

.side-container-details-top-bar p{
  height: 100%;
  width: 90%;
  display: flex;
  align-items: center;
  font-size: 2.5vh;
  font-weight: 500;
  color: #4e4e4e;
}

.side-container-details-content{
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.side-container-details-content-specifications{
  width: 90%;
  height: 25%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.side-container-details-content-specifications p{
  font-size: 1.7vh;
  color: #5c5c5c;
  font-weight: 400;
  font-family: Quicksand;
}

.side-container-details-content-specifications strong{
  font-size: 1.7vh;
  color: #5C5C5C;
  font-weight: 500;
}

.side-container-details-content-authors{
  width: 90%;
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.side-container-details-content-authors h2{
  width: 100%;
  height: 15%;
  font-size: 2vh;
  font-weight: 700;
  display: flex;
  align-items: center;
  color: #5c5c5c;
  font-family: Quicksand;
}

.authors-loop-space{
  width: 100%;
  height: 85%;
  overflow-y: auto;
}

.authors-loop{
  width: 100%;
  height: 4vh;
  display: flex;
}

.authors-loop p {
  margin: 0;
  height: 80%;
  font-size: 2vh;
  font-weight: 300;
  font-family: Quicksand;
}

.authors-loop h4 {
   color:#5c5c5c ;
   font-family: Quicksand;
}

.authors-loop-space::-webkit-scrollbar {
  width: 3px;
  border-radius: 15px;
}

.authors-loop-space::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.authors-loop-space::-webkit-scrollbar-thumb {
  background: #ED7839;
  border-radius: 15px;
}

.authors-loop-space::-webkit-scrollbar-thumb:hover {
  background: #ffffff;

}

.side-container-details-content-university-loop-space::-webkit-scrollbar {
  width: 3px;
  border-radius: 15px;
}

.side-container-details-content-university-loop-spacee::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.side-container-details-content-university-loop-space::-webkit-scrollbar-thumb {
  background: #ED7839;
  border-radius: 15px;
}

.side-container-details-content-university-loop-space::-webkit-scrollbar-thumb:hover {
  background: #ffffff;

}

.side-container-details-content-university-loop-space{
  width: 90%;
  height: 25%;
  overflow-y: auto;
}

.university-loop{
  width: 100%;
  height: 3vh;
}

.university-loop p{
  color: #ADA0A0;
  width: 100%;
  height: 100%;
  font-size: 1.5vh;
  font-family: Quicksand;
}

.footer{
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
}

.footer-content{
  width: 95%;
  height: 80%;
  display: flex;
}

.galoa-text{
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.galoa-text h1{
  height: 9vh;
  width: 100%;
  color:#341947;
  font-size: 9vh;
  margin: 0;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.galoa-text p{
  height: 3vh;
  width: 100%;
  color:#71478e;
  margin: 0;
  font-size: 2vh;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.galoa-text button{
  background-color: #71478e;
  color:white;
  height: 5vh;
  width:70% ;
  font-size: 2vh;
  border: none;
  border-radius: 5px;
  font-weight: 100;
  cursor: pointer;
}

.footer-text{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.top-text{
  height: 30%;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 2vh;
  font-weight: 400;
}

.top-text strong{
  color: #5c5c5c;
  font-weight: 600;
}

.bottom-text{
  height: 30%;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 2vh;
  font-weight: 400;
}
