.footer-content{
  width: 95%;
  height: 80%;
  display: flex;
}

.galoa-text{
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.galoa-text h1{
  height: 9vh;
  width: 100%;
  color:#341947;
  font-size: 9vh;
  margin: 0;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.galoa-text p{
  height: 3vh;
  width: 100%;
  color:#71478e;
  margin: 0;
  font-size: 2vh;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.galoa-text button{
  background-color: #71478e;
  color:white;
  height: 5vh;
  width:70% ;
  font-size: 2vh;
  border: none;
  border-radius: 5px;
  font-weight: 100;
  cursor: pointer;
}

.footer-text{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.top-text{
  height: 30%;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 2vh;
  font-weight: 400;
}

.top-text strong{
  color: #5c5c5c;
  font-weight: 600;
}

.bottom-text{
  height: 30%;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 2vh;
  font-weight: 400;
}
